In [44]:
import pandas as pd
import numpy as np
import re

In [45]:
df = pd.read_csv('users_data.csv')

In [46]:
df

,UserID,Prefix,FirstName,LastName,Email,Password,Address,City,Country,PhoneNumber,BirthDate,MartialStatus,Gender,AnnualIncome,TotalChildren,EducationLevel,Occupation,CarOwner
0,USR00001,Dr.,Robert,Buckley,robertbuckley228@ourcompany.com,&nKD!Kp43s,"214, avenue Charlotte Gilles",Lyon,France,01 55 83 77 83,35538,Married,Male,55743,0,PhD,Salesperson,Yes
1,USR00002,Dr.,Tammy,Butler,tammybutler780@ourcompany.com,)JHfz0Sv7#,Avenida Poncio Dominguez 44,Barcelona,Spain,+34 949828233,33062,Married,Female,49545,2,Master's Degree,Teacher,No
2,USR00003,Mr.,Jordan,Ward,jordanward325@ourcompany.com,)0PSSHi5+u,הפרדס 91,Jerusalem,Israel,02-4047-966,33377,Single,Male,46306,1,High School,Developer,No
3,USR00004,Mr.,Brent,Taylor,brenttaylor567@ourcompany.com,@91AmEjn7v,Dobesweg 7/2,Berlin,Germany,+49(0)4519 56832,32525,Married,Male,54423,1,High School,Accountant,No
4,USR00005,Dr.,Ryan,Smith,ryansmith181@ourcompany.com,F$0*6gIdqF,"95, avenue Diallo",Marseille,France,+33 2 57 00 33 22,36786,Divorced,Male,64691,0,Master's Degree,Scientist,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,USR14996,Mrs.,Stacy,Perez,stacyperez104@ourcompany.com,Cb!9HMAfmw,"49, rue de Lesage",Nice,France,492060704,32344,Married,Female,35053,1,Associate's Degree,Engineer,Yes
14996,USR14997,Dr.,James,Wallace,jameswallace171@ourcompany.com,7!5j0S*JFt,387 Robertson Hill,Phoenix,United States,965-561-7652,36022,Single,Male,54411,2,Master's Degree,Manager,No
14997,USR14998,Mr.,Michael,Guerrero,michaelguerrero13@ourcompany.com,*x7LBJnrmh,Kristina-Hentschel-Weg 0,Berlin,Germany,+49 (0) 7831 036758,38423,Married,Male,36514,1,High School,Nurse,No
14998,USR14999,Ms.,Erin,Reyes,erinreyes231@ourcompany.com,fY^J!8Yf!#,Guteweg 6,Munich,Germany,+49(0)5387 90078,36134,Single,Female,60234,1,Bachelor's Degree,Manager,Yes
14999,USR15000,Dr.,Angela,Mitchell,angelamitchell409@ourcompany.com,#%P0qtCx#6,Pasaje Lucila Martí 62 Piso 0,Zaragoza,Spain,+34 946 414 808,38304,Married,Female,36120,1,Master's Degree,Engineer,No

In [49]:
def change_phone(country,phone):
    dic_c_c={
    "France": "01833",
    "Spain": "01834",
    "Israel": "00972",
    "Germany": "01849",
    "United Kingdom": "01844",
    "Italy": "01839",
    "United States": "0181",
    "Australia": "01861",
    }
    if type(phone)== str:
        for key,val in dic_c_c.items():
            if country == key:
                if phone[0] != '+':
                    phone= val+phone
        # Remove characters that are neither numbers nor "+"
        phone = re.sub(r'[^0-9+]', '', phone)
        phone = phone.replace(" ", "")
    return phone

In [52]:
lst_good_phone=[]
for i in range(df.shape[0]):
    lst_good_phone.append(change_phone(df.loc[i,'Country'],df.loc[i,'PhoneNumber']))
df['PhoneNumber'] = lst_good_phone
df

,UserID,Prefix,FirstName,LastName,Email,Password,Address,City,Country,PhoneNumber,BirthDate,MartialStatus,Gender,AnnualIncome,TotalChildren,EducationLevel,Occupation,CarOwner
0,USR00001,Dr.,Robert,Buckley,robertbuckley228@ourcompany.com,&nKD!Kp43s,"214, avenue Charlotte Gilles",Lyon,France,018330155837783,35538,Married,Male,55743,0,PhD,Salesperson,Yes
1,USR00002,Dr.,Tammy,Butler,tammybutler780@ourcompany.com,)JHfz0Sv7#,Avenida Poncio Dominguez 44,Barcelona,Spain,+34949828233,33062,Married,Female,49545,2,Master's Degree,Teacher,No
2,USR00003,Mr.,Jordan,Ward,jordanward325@ourcompany.com,)0PSSHi5+u,הפרדס 91,Jerusalem,Israel,00972024047966,33377,Single,Male,46306,1,High School,Developer,No
3,USR00004,Mr.,Brent,Taylor,brenttaylor567@ourcompany.com,@91AmEjn7v,Dobesweg 7/2,Berlin,Germany,+490451956832,32525,Married,Male,54423,1,High School,Accountant,No
4,USR00005,Dr.,Ryan,Smith,ryansmith181@ourcompany.com,F$0*6gIdqF,"95, avenue Diallo",Marseille,France,+33257003322,36786,Divorced,Male,64691,0,Master's Degree,Scientist,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,USR14996,Mrs.,Stacy,Perez,stacyperez104@ourcompany.com,Cb!9HMAfmw,"49, rue de Lesage",Nice,France,01833492060704,32344,Married,Female,35053,1,Associate's Degree,Engineer,Yes
14996,USR14997,Dr.,James,Wallace,jameswallace171@ourcompany.com,7!5j0S*JFt,387 Robertson Hill,Phoenix,United States,01819655617652,36022,Single,Male,54411,2,Master's Degree,Manager,No
14997,USR14998,Mr.,Michael,Guerrero,michaelguerrero13@ourcompany.com,*x7LBJnrmh,Kristina-Hentschel-Weg 0,Berlin,Germany,+4907831036758,38423,Married,Male,36514,1,High School,Nurse,No
14998,USR14999,Ms.,Erin,Reyes,erinreyes231@ourcompany.com,fY^J!8Yf!#,Guteweg 6,Munich,Germany,+490538790078,36134,Single,Female,60234,1,Bachelor's Degree,Manager,Yes
14999,USR15000,Dr.,Angela,Mitchell,angelamitchell409@ourcompany.com,#%P0qtCx#6,Pasaje Lucila Martí 62 Piso 0,Zaragoza,Spain,+34946414808,38304,Married,Female,36120,1,Master's Degree,Engineer,No